@import url("grid.css");
@import url("nav.css");
@import url("rsvp.css");
@import url("travel.css");

html {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #2e322d;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  width: 100%;
}

article {

}

h1 {
  margin: 0 0 1em 0;
  padding: 0;
  color: #fcf0bc;
  font-family: Baskerville;
  font-weight: lighter;
  font-style: italic;
}

h2 {
  margin: 0 0 0.5em 0;
  padding: 0;
  color: #fcf0bc;
  font-family: Baskerville;
  font-weight: lighter;
  font-style: italic;
}

.text-box {
  background-color: #fcf0bc;
}

p {
  font-family: Baskerville;
  font-weight: lighter;
  text-align: left;
}

article img {
  width: 100%;
}

/*
*
*
* LARGE DEVICES
*
*
*/
@media (min-width: 1020px) {
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }

  article {
    padding: 1em;
  }

  .text-box {
    padding: 1.5em;
    margin: 0 1.5em 0 1.5em;
  }

  p {
    margin: 0.5em 0.5em 1em 1em;
    font-size: 1.25em;
  }

  article img {
    width: 100%;
    max-width: 480px;
  }
}

/*
*
*
* SMALL DEVICES
*
*
*/
@media (max-width: 1019px) {
  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1em;
  }

  article {
    padding: 1em;
  }

  .text-box {
    padding: 1em;
  }

  p {
    margin: 0.5em 0.5em 1em 1em;
    font-size: 1em;
  }
}
